  <!-- Navbar -->
  
  <nav class="navbar navbar-expand-lg navbar-light fixed-top mask-custom shadow-0">
    <div class="container">
      <a class="navbar-brand" href="#!"><span style="color: #5e9693;">Questionnaire</span><span style="color: #fff;">Website</span></a>
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      
      </div>
  
  </nav>
  <!-- Navbar -->

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<br><br><br><br><br><br>
<!-- question-form.component.html -->
<div class="pargrap">
<p> Welcom to this questionnaire , Please Choose the correct answer </p></div>
<div class="quation">
  <div class="eee">
   
      <div *ngIf="currentQuestionIndex < questions.length" class="">
        <div class="col-md-4">
          <!-- Add an image here -->

        </div>
        <div class="col-md-8">
        <h3 class="mb-3">Question {{ currentQuestionIndex + 1 }}</h3>
        <p>{{ questions[currentQuestionIndex].question }}</p>
        <ul class="list-unstyled">
          <li *ngFor="let option of questions[currentQuestionIndex].options" class="mb-2">
            <label class="form-check-label">
              <input
                type="radio"
                name="question{{ currentQuestionIndex }}"
                [value]="option"
                [(ngModel)]="selectedOptions[currentQuestionIndex]"
                class="form-check-input"
              />
              {{ option }}
            </label>
          </li>
        </ul>
        <button *ngIf="currentQuestionIndex > 0" class="btn btn-secondary" (click)="goToPreviousQuestion()">PREVIOUS</button>
        <button type="submit" *ngIf="currentQuestionIndex === questions.length - 1" class="btn btn-primary" (click)="submitAnswers()">Submit</button>
        <ng-container *ngIf="currentQuestionIndex < questions.length - 1">
          <button class="btn btn-primary" (click)="goToNextQuestion()" [disabled]="nextQuestion">NEXT</button>
        </ng-container>
      </div>
    
      <div *ngIf="currentQuestionIndex === questions.length" class="mt-4">
        <h3>Thank You!</h3>
      </div>
    </div>
  </div>
</div>

